<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" th:href="@{/css/aboutuspage.css}" href="/static/css/aboutuspage.css">

        <title>About website</title>
    </head>
    <body>

        <a th:href="@{/general}"><img th:src="@{/pictures/BitBitLogo.png}" class="logo"></a>
        <a th:href="@{/general}"><h1 class="bitbit">BitBit</h1></a>

        <div class="message-text">
            <h1 class="info-label">Краткая информация о сайте</h1>
            <p class="text">
                Этот пет-проект сайта форума для общения,
                объединяющего в себе дискуссии и чаты между людьми.
            </p>
            <p></p>
            <p class="text">
                Изначально сайт создавался как дипломная работа в университете,
                но потом перерос в пет-проект по изучению технологии Spring Java.
            </p>
            <p></p>
            <p class="text">
                Как и любой проект, сделанный одним разработчиком, он может быть далеко неидеальным,
                поэтому есть просьба к тебе, уважаемый гость или посетитель. Называйтесь как хотите :)
                Если у вас есть идеи, мысли, варианты по улучшению проекта или вы заметили баги, 
                то смело пишите их в дискуссию под названием "Список предложений".
            </p>
            <p></p>
            <p class="text">
                Это не первый мой масштабный проект по программированию и, надеюсь, не последний,
                мне очень хочется его дальше развивать, чтобы самому становиться лучше в своей сфере.
            </p>
            <p></p>
            <p class="text">
                Кто прочитал до конца, тот просто лучший :) Хорошего тебе дня и спасибо за уделённое время за
                прочтение моего послания ;)
            </p>
            <img class="image" th:src="@{/pictures/cat.jpg}">
            <p class="text">
                Искренне ваш, FYNJY!
            </p>
        </div>
    </body>
</html>