<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/generalstyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/notifications.css}">

    <title>General</title>
</head>
<body>
    <!-- Уведомление об успешном входе -->
    <div th:if="${loginSuccessMessage}" class="notification notification-success" id="loginSuccessNotification">
        <span class="notification-message" th:text="${loginSuccessMessage}"></span>
        <button class="notification-close" onclick="closeNotification('loginSuccessNotification')">&times;</button>
    </div>

    <a th:href="@{/general}"><img th:src="@{/pictures/BitBitLogo.png}" class="logo"></a>
    <a th:href="@{/general}"><h1 class="bitbit">BitBit</h1></a>

    <ul class="menu-bar">
        <li><a th:href="@{/discussions}">Discussions</a></li>
        <li><a th:href="@{/onlinechat}">Chats</a></li>
        <li><a th:href="@{/minigames}">Mini games</a></li>
        <li><a th:href="@{/account}">Account</a></li>
        <li><a th:href="@{/settings}">Settings</a></li>
    </ul>

    <form class = "main">

    </form>

    <script type="text/javascript" th:src="@{/javascript/notification}"></script>

</body>
</html>