body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #0672f5;
}

.logo {
    position: fixed;
    top: 5px;
    left: 5px;
    height: 55px;
    width: 55px;
    z-index: 1000;
}

.bitbit {
    position: fixed;
    top: 5px;
    left: 70px;
    font-family: sans-serif;
    color: white;
    user-select: none;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 55px;
    margin: 0;
}

.message-text {
    display: block;
    background-color: rgb(6, 173, 245);
    height: 90vh;
    border-radius: 20px;
    padding: 0;
    margin-top: 20px;
    margin-left: 40vh;
    margin-right: 40vh;
    padding: 10px;
}

.info-label {
    margin: 0;
    color: white;
    font-family: sans-serif;
}

.text {
    margin: 0;
    color: white;
    font-family: white;
    font-size: 20px;
}

.image {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}