body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #0672f5;
}

.menu-bar {
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: rgb(6, 173, 245);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.menu-bar li {
    -webkit-user-select: none;
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}
.menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
}

.menu-bar li:hover::before {
    background: linear-gradient(to bottom, #01fac2, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
}

.menu-bar li:active::before {

}

.main {
    margin-top: 60px;
    border-radius: 25px;
    background: #3498db;
    position: absolute;
    width: 70%;
    left: 50%;
    top: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    font-family: "Times New Roman", Times, Serif;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    margin-top: 5px;
    margin-left: 5px;
    height: 55px;
    width: 55px;
    float: left;
}

.bitbit {
    margin-top: 13px;
    margin-left: 10px;
    font-family: sans-serif;
    color: white;
    float: left;
}