body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #0672f5;
}

.games-menu {
    background: #3498db;
    border-radius: 25px;
    position: absolute;
    top: 30%;
    margin-left: 25px;
    width: 300px;
    height: 260px;
    padding: 20px;
}

.games-menu button {
    border-radius: 25px;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    border: 0;
    color: white;
    background-color: rgb(6, 173, 245);
    margin-left: 15%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13pt;
    user-select: none;
}

.games-menu button:hover {
    border-radius: 25px;
    width: 200px;
    height: 50px;
    background: #01fac2;
    margin-bottom: 20px;
    text-align: center;
    font-family: sans-serif;
    border: 0;
    background: linear-gradient(to bottom, #01fac2, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
    transition: 0.2s;
    user-select: none;
}

.gameField {
    border-radius: 25px;
    position: fixed;
    width: 1300px;
    height: 96%;
    top: 2%;
    background: #333333;
    border-left: 6px solid #01fac2;
    border-right: 6px solid #01fac2;
    right: 30px;
    transition: all 1s;
}

canvas {
    display: block;
    margin-top: 10%;
    margin-left: 28%;
}

.blockArea {
    display: flex;
    width: 510px;
    height: 510px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14%;
    background: #0672f5;
    border-radius: 24px;
    border: 5px solid #01fac2;
}

.blockItem {
    cursor: pointer;
    position: relative;
    display: flex;
    padding: 8px;
    background: #3498db;
    border: 2px solid #01fac2;
    width: 140px;
    height: 140px;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    user-select: none;
}

.blockItem:hover {
    background: #0672f5;
    border: 2px solid #01fac2;
}

.krest {
    color: rgb(0, 255, 13);
    font-size: 38px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.circle {
    color: rgb(255, 0, 0);
    font-size: 50px;
    font-weight: 900;
}

.winColor {
    color: rgb(30, 255, 0);
    background: gold;
}

.logo {
    margin-top: 5px;
    margin-left: 5px;
    height: 55px;
    width: 55px;
    float: left;
}

.bitbit {
    margin-top: 13px;
    margin-left: 10px;
    font-family: sans-serif;
    color: white;
    float: left;
    user-select: none;
}