<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/generalstyle.css}">

    <title>General</title>
</head>
<body>
    <a th:href="@{/general}"><img th:src="@{/pictures/BitBitLogo.png}" class="logo"></a>
    <a th:href="@{/general}"><h1 class="bitbit">BitBit</h1></a>

    <ul class="menu-bar">
        <li><a href="discussions.html" th:href="@{/discussions}">Discussions</a></li>
        <li><a href="onlinechat.html" th:href="@{/onlinechat}">Chats</a></li>
        <li><a href="minigames.html" th:href="@{/minigames}">Mini games</a></li>
        <li><a href="account.html" th:href="@{/account}">Account</a></li>
        <li><a href="account.html" th:href="@{/settings}">Settings</a></li>
    </ul>

    <form class = "main">
    </form>

</body>
</html>