<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/minigames.css" th:href="@{/css/minigames.css}">

    <title>Мини игры</title>
</head>
<body>
    <a href="general.html" th:href="@{/general}"><img src="/static/pictures/BitBitLogo.png" th:src="@{/pictures/BitBitLogo.png}" class="logo"></a>
    <h1 class="bitbit">BitBit</h1>

    <form class = "FormGame" id="FormGame">
        <div class = "gameField" id="gameField">
            
        </div>
    </form>

    <form class = "games-menu">
        <button type="button" onclick="startTicTacToe()">Крестики-нолики</button>
        <button type="button" onclick="startSnake()">Змейка</button>
        <button type="button" onclick="brekout()">Прорыв</button>
        <button type="button" onclick="asteroids()">Астероиды</button>
    </form>


    <script type="text/javascript" src="/static/javascript/games.js" th:src="@{/javascript/games.js}"></script>
</body>
</html>