<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/static/css/minigames.css" th:href="@{/css/minigames.css}">

    <script type="text/javascript" src="/static/javascript/snake.js" th:src="@{/javascript/snake.js}"></script>
    <script type="text/javascript" src="/static/javascript/tictactoe.js" th:src="@{/javascript/tictactoe.js}"></script>

    <title>Mini games</title>
</head>
<body>

<form class = "FormGame">
    <div class = "gameField">
        <canvas id="game" width="300" height="300"></canvas>
    </div>
</form>

<form class = "games-menu">
    <button onclick="">Крестики-нолики</button>
    <button onclick="">Змейка</button>
</form>



</body>
</html>