<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">

    <script type='text/JavaScript' src="/static/javascript/registanim.js" th:src="@{/javascript/registanim.js}"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/registstyle.css" th:href="@{/css/registstyle.css}">

    <title>BigBitForum</title>
</head>
<body>
<form class='box'>
    <h1 class='reg'>Login</h1>
    <input class='login' type='text' placeholder="Login">
    <input class='password' type='password' placeholder="Password">
    <input class='button' type="submit" value='Enter'>
    <a href="newaccount.html" th:href="@{/newaccount}" class="create">No account?</a>
</form>

<form class='Menu'>
    <div id='sidebar'>
        <div class='toggle-btn' onclick="OpenMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li>Menu</li>
            <li><a href="general.html" th:href="@{/general}" class='a1'>Главная</a></li>
            <li><a href="/static" class='a2'>Контакты</a></li>
            <li><a href="/static" class='a3'>О нас</a></li>
            <li><a href="/static" class='a3'>Бот в Телеграм</a></li>
        </ul>
        <input type='submit' value="Help" class='helper'>
    </div>
</form>

</body >
</html>