<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <script type='text/JavaScript' th:src="@{/javascript/registanim.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registstyle.css}">

    <title>BigBitForum</title>
</head>
<body>
<form class='box'>
    <h1 class='reg'>Login</h1>
    <input class='login' type='text' placeholder="Login">
    <input class='password' type='password' placeholder="Password">
    <input class='button' type="submit" value='Enter'>
    <a th:href="@{/newaccount}" class="create">No account?</a>
</form>

<form class='Menu'>
    <div id='sidebar'>
        <div class='toggle-btn' onclick="OpenMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li>Menu</li>
            <li><a th:href="@{/general}" class='a1'>General</a></li>
            <li><a href="/static" class='a2'>Contacts</a></li>
            <li><a href="/static" class='a3'>About us</a></li>
            <li><a href="/static" class='a3'>Telegram bot</a></li>
        </ul>
        <input type='submit' value="Help" class='helper'>
    </div>
</form>

</body >
</html>